.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet{
  display: flex;
  flex-direction: column;
  padding: 34px;
  padding-top: 24px;
}
form{
display: flex;
flex-direction: column;
}


.button{
  
  margin-top: 20px;
  color: white;
  background-color:#4056A1;
  font-family: "Bungee";
  
}
.button:hover {
  background-color: black
}

.counter {
  margin-top: 20px;
  

  color:inherit;
 
 font-family: "Bungee";
 
}

div.footer{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

b.text {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

input:focus { 
  outline: none !important; 
}

#tweet-text {

  outline: none !important; 
  border-top: 0px none;
  border-left: none;
  border-right: none;
  border-color: black;
  border-bottom-width: 10px;
  background-color: #f4f1ec;
  
}

.red {
  margin-top: 20px;
  color: red;
  font-family: "Bungee"; 
}

.character-error{
  pointer-events: none;
  margin-top: 20px;
  color: white;
  background-color: gray;
  font-family: "Bungee";

}




.error-message {
  word-wrap: break-word;
  padding-left: 50px;
  padding-right: 50px;
  display: none;
  height: 45px;
  margin-left: 34px;
  margin-right: 34px;
  text-align: center;
  background-color: inherit;
  border: solid 1px red;
  border-width: 5px;
  color: red;
  order: -1;
  height: fit-content;
}

